.containerFilter {
    display: flex;
    justify-content: space-between;
}

.filterProductList {
    margin: 20px;
}
.titleProductList {
    text-align: center;
    margin: 20px;
}

.filterText {
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
}

.selectOption {
    padding: 10px;
    margin-right: 20px;
}

