.containerCategories {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 228, 196, 0.253);
}


.containerCategory {
    width: 100vw;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 5px;
    height: 70vh;
    position: relative;
}

.containerCategory:hover {
    transform: scale(1.1);
    cursor: pointer;
    border-radius: 20px;
}
.imgCategory {
    border-radius: 50%;
    width: 70%;
    height: 60%;
    object-fit: cover;
    background-color: gray;
}

.infoCategory {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleCategory {
    color: black;
    margin-bottom: 20px;

}

.buttonCategory {
    border:none;
    padding: 10px;
    background-color: white;
    color:rgb(0, 0, 0);
    cursor: pointer;
    font-weight: 600;
}
/* Breackpoint to mobile view*/

@media only screen and (max-width: 600px) {
    .containerCategories {
        margin-top: 50px;
        padding: 10px;
        flex-direction: column;
        
    }
    .containerCategory {
        
        height: 150px;
        width: 70%;
        margin: 10px auto;
    }
    .imgCategory {
        border-radius: 20px;
        width: 100%;
        height: 100%;
    }
    .titleCategory {
        font-size: 24px;
    }

    .buttonCategory {
        font-size: 12px;
    }
}
