.containerRegister {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("https://www.clara.es/medio/2021/11/28/postres-navidenos_3f462fd7_1280x1115.jpg")
        center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapperRegister {
    width: 40%;
    padding: 20px;
    background-color: white;
}

.titleRegister {
    font-size: 24px;
    font-weight: 300;
}

.formRegister {
    display: flex;
    flex-wrap: wrap;
}

.inputFormRegister {
    flex: 1;
    min-width: 40%;
    margin: 20px 10px 0px 0px;
    padding: 10px;
}

.agreement {
    font-size: 12px;
    margin: 20px 0px;
}

.buttonRegister {
    width: 40%;
    border: none;
    padding: 15px 20px;
    background-color: teal;
    color: white;
    cursor: pointer;
}